	<footer class="footer-section">
		<div class="container text-center">
			<div class="copyright">
  <p class="u-small-text u-text u-text-variant u-text-1"> © @DateTime.Now.Year Tüm Hakları Saklıdır.| Design by MA </p>
</div>
		</div>
	</footer>