		<header class="header-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="site-logo">
							<h2><a href="#"></a></h2>
							<p></p>
						</div>
					</div>
					<div class="col-md-8 text-md-right header-buttons">
						<a href="~/files/merve-pdf.pdf" download class="site-btn">CV'yi İndir</a>
						<a href="/Contact/Index" class="site-btn">İletişime Geç</a>
					 <a href="/Login/LogOut"  class="site-btn"> <span class="glyphicon glyphicon-log-out"></span> Çıkış Yap
        </a>
					</div>

				</div>
			</div>
		</header>